I am Anirudh
<html>
    <body>
        <h3>Title : Need to but groceries</h3>
        <ul>
            <li>Description: Buy Groceries</li>
            <li>Date : 19 May</li>
            <li>Status : New</li>
        </ul>

        <h3>Title : Need to but groceries</h3>
        <ul>
            <li>Description: Buy Groceries</li>
            <li>Date : 19 May</li>
            <li>Status : New</li>
        </ul>

        <h3>Title : Need to but groceries</h3>
        <ul>
            <li>Description: Buy Groceries</li>
            <li>Date : 19 May</li>
            <li>Status : Completed</li>
        </ul>

        <h3>Title : Need to but groceries</h3>
        <ul>
            <li>Description: Buy Groceries</li>
            <li>Date : 19 May</li>
            <li>Status : New</li>
        </ul>
    </body>
</html>